#relaxation {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#relaxation h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#relaxation ul {
    list-style: none;
    display: flex;
}

.différentesrelaxation {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.différentesrelaxation div {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.différentesrelaxation h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}

.différentesrelaxation p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
}

#liens {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lien1 {
    margin-right: 300px;
    margin-top: -110px;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lien2 {
    margin-right: -370px;
    margin-top: -160px; 
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lien1:hover {
    background: rgb(255, 255, 255);
    color: white;
}

.lien2:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.dr1 {
    background-image: url("../images/Reflexologie.jpg");
}

.dr2 {
    background-image: url("../images/Pilates.jpg");
}







#medecine {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#medecine h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#medecine ul {
    list-style: none;
    display: flex;
}

.différentsante {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.différentsante div {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.différentsante h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}

.différentsante p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
}

#lienssante {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lienm2 {
    margin-right: 300px;
    margin-top: -55px; 
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lienm3 {
    margin-left: 400px;
    margin-top: -60px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lienm2:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.lienm3:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.dm2 {
    background-image: url("../images/Acné.jpg");
}
.dm3 {
    background-image: url("../images/Médecin.jpg");
}

main {
    background-color: rgb(28, 28, 53);
}