html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(77, 124, 63);
    border-bottom: 1px solid rgb(0, 0, 0) ;
    box-shadow: 0 0 10px rgba(0, 0, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    width: 30%;
    font-size: 24px;
    margin: 0;
    color: rgb(29, 29, 29);
}

nav {
    width: 70%;
}

nav a {
    margin: 0 10px;
    padding: 10px 5px;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

main {
    height: calc(100% - 51px);
    overflow-y: scroll;
}

.lien {
    text-transform:uppercase;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0;
    margin-bottom: 100px;
}

.lien {
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin-left: 44px;
}

.lien:hover {
    background: rgb(245, 245, 245);
    color: rgb(40, 40, 40);
}