#creation {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

#creation h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-left: 765px;
}

#creation ul {
    list-style: none;
    display: flex;
    margin-left: 755px;
}

.sys {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.sys div {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sys h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}

.sys p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
}

#lien {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liens {
    margin-right: -30px;
    margin-top: -120px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.liens:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.s1 {
    background-image: url("../images/online-shop-vinted.webp");
}




.systemeio {
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(77, 124, 63));
    padding: 1px;
    border-radius: 7px;
    text-decoration: none;
    padding-left:100px;
    padding-right:90px;
}

.systeme:hover {
    background: rgb(245, 245, 245);
    color: rgb(40, 40, 40);
}

main {
    background-color: rgb(28, 28, 53);
}