#internet {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#internet h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#internet ul {
    list-style: none;
    display: flex;
}

.vente {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.vente div {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vente h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}

.vente p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
}

#liens {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lien1 {
    margin-right: 300px;
    margin-top: -120px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lien2 {
    margin-right: -355px;
    margin-top: -60px; 
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}


.lien1:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.lien2:hover {
    background: rgb(245, 245, 245);
    color: white;
}


.v1 {
    background-image: url("../images/Revenus\ passifs.jpg");
}

.v2 {
    background-image: url("../images/Affiliation.jpg");
}







#internet2 {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#internet2 h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#internet2 ul {
    list-style: none;
    display: flex;
}

.reseaux {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.reseaux div {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reseaux h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}

.reseaux p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
}

#liensi {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lieni1 {
    margin-right: 300px;
    margin-top: -120px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lieni2 {
    margin-right: -355px;
    margin-top: -55px; 
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}


.lieni1:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.lieni2:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.r1 {
    background-image: url("../images/IA\ argent.jpg");
}

.r2 {
    background-image: url("../images/Argent\ en\ ligne\ 2.jpg");
}



#internet3 {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#internet3 h2 {
    margin: 0;
    margin-right: -50px;
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#internet3 ul {
    list-style: none;
    display: flex;
}

.crypto {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.crypto div {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.crypto h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}

.crypto p {
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
}

#liensc {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lienc1 {
    margin-right: -45px;
    margin-top: -120px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(60, 180, 84), rgb(77, 124, 63));
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.lienc1:hover {
    background: rgb(245, 245, 245);
    color: white;
}

.c1 {
    background-image: url("../images/Parris\ hippiques.jpg");
}

main {
    background-color: rgb(28, 28, 53);
}