#info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(28, 28, 53);
    width: 100%;
    color: white;
    align-items:center;
}

#info h1 {
    text-transform: uppercase;
    font-size: 26px;
    align-items: center;
    width: 210px;
    color: white;
    margin-bottom: 100px;
}

#info p {
    font-size: 17.5px;
    width: 1800px;
}

